:root {
    --color-primario: #DD9A37;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #131313;
}

h1 {
    color: var(--color-primario);
    font-size: 8rem;
    text-align: center;
}

figure {
    text-align: center;
}

.header {
    width: 100%;
    height: 80px;
}

.header-list {
    align-items: center;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    list-style: none;
}

.header-list li {
    font-size: 2rem;
    padding-left: 14px;
}

.about{
    padding: 4px;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, #31B1E3, #DC1921) 1;
}

.about-p {
    color: whitesmoke;
    font-size: 2rem;
    padding: 6px 0;
    text-align: center;
}

.image-barbershop {
    display: inline-block;
    height: 100%;
    width: 100%;
    max-width: 400px;
    height: 220px;
    text-align: center;
}

.main {
    padding: 0 4rem;
}

.differentials {
    padding: 20px 0;
    text-align: center;
}

.differentials-list {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    width: 100%;
}

.differentials h2 {
    color: var(--color-primario);
    font-size: 4rem;
}

.differentials li {
    color: var(--color-primario);
    list-style: none;
}

.differentials li p {
    color: whitesmoke;
    font-size: 2.6rem;
}

.differentials-icons {
    height: 100px;
    width: 100px;
}